<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Template </title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="layoutFlex.css">
</head>

<body>
    <div class="full-page">
    <header>
            <div class="container">
                <div class="header-heading">
                        <h1 >
                            <i>Watson</i>
                        </h1>
                </div>
                 <div class="sub-heading">
                        <h5 >MAGAZINE THEME</h5>
                </div>
            </div>
    </header>
    <nav>
        <ul class="nav-wrapper">
			<li>
				  <a></a>
			</li>
			<li>
				<a>Home</a>
			</li>
			<li>
				<a>Lifestyle</a>
			</li>
			<li>
				<a>Sport</a>
			</li>
			<li>
				<a>Travel</a>
			</li>
			<li>
				<a>Food</a>
			</li>
			<li>
				<a>Styling</a>
			</li>
			<li>
				<a>About</a>
			</li>
			<li>
				<a>Sitemap</a>
			</li>
			<li>
				<a>Contact</a>
			</li>
        </ul>
        <div class="small-nav">
                Go to..
               <i class="fa fa-caret-down" aria-hidden="true"></i> 
                   
       
        </div>

    </nav>
    <main class="main columns">
        <section class="column main-column">
            <article class="article first-article">

                <div class="block1-body">
                    <figure class="block1-image is-4by3">
                        <img src="https://watsondemo.files.wordpress.com/2012/11/retina-01.jpg?w=608&h=400&crop=1 " alt="1">
                    </figure>
                    <h1 class="block1-title">
                        Wild Question Marks and devious Semikoli story tales
                    </h1>
                    <p class="block1-content">
                        It is a paradisematic country in which roasted parts of sentences ﬂy into your mouth. Even the allcpowerful Pointing has
                        no conc trol about the blind texts it is an almost...
                    </p>
                    <ul class="block1-crumb">
                        <li>
                            <i class="fa fa-long-arrow-left" aria-hidden="true" style="color:rgb(219, 33, 33);"></i>Previous</li>
                        <li>Next
                            <i class="fa fa-long-arrow-right" aria-hidden="true" style="color:rgb(219, 33, 33);"></i>
                        </li>

                    </ul>
                </div>
            </article>

            <article>
                <div class="media">
                    <img class="media-object" src="https://watsondemo.files.wordpress.com/2012/11/retina-15.jpg?w=205&h=145&crop=1" alt="3">
                    <div class="media-body">
                        <h3 class="media-heading">Organically Synthesized</h3>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches
                            to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                        <ul class="media-crumb">
                            <li>October14,2012</li>
                            <li>0 Comments</li>
                            <li class="red">Read Article</li>
                        </ul>
                    </div>
            </article>
            <article>
                <div class="media">
                    <img class="media-object" src="https://watsondemo.files.wordpress.com/2012/11/retina-14.jpg?w=205&h=145&crop=1" alt="2">
                    <div class="media-body">
                        <h3 class="media-heading">
                            <b>They called me Mr Glass</b>
                        </h3>
                        <p>Your bones don't break. mine do. That's clear. Your cells react to bacteria and vimses diﬁerently
                            than mine. You don’tget siclt.l do. That's also...</p>
                        <ul class="media-crumb">
                            <li>October14,2012</li>
                            <li>0 Comments</li>
                            <li class="red">Read Article</li>
                        </ul>
                    </div>
            </article>
            <div class="cards">

                <article class="card">
                    <img src="https://watsondemo.files.wordpress.com/2012/11/retina-08.jpg?w=115&h=75&crop=1" alt="Sample photo">
                    <div class="text">
                        <h3>Completely Synergize</h3>


                    </div>
                </article>
                <article class="card">
                    <img src="https://watsondemo.files.wordpress.com/2012/11/retina-09.jpg?w=115&h=75&crop=1" alt="Sample photo">
                    <div class="text">
                        <h3>Dynamically Procrastinate</h3>


                    </div>
                </article>
                <article class="card">
                    <img src="https://watsondemo.files.wordpress.com/2012/11/retina-10.jpg?w=115&h=75&crop=1" alt="Sample photo">
                    <div class="text">
                        <h3>Dynamically Procrastinate</h3>


                    </div>
                </article>

                <article class="card">
                    <img src="https://watsondemo.files.wordpress.com/2012/11/retina-11.jpg?w=115&h=75&crop=1" alt="Sample photo">
                    <div class="text">
                        <h3>Dynamically Procrastinate</h3>


                    </div>
                </article>
            </div>
            <div class="cards2">
                    
                                    <article class="card">
                                        <img src="https://watsondemo.files.wordpress.com/2012/11/retina-08.jpg?w=115&h=75&crop=1" alt="Sample photo">
                                        <div class="text">
                                            <h3>Completely Synergize</h3>
                    
                    
                                        </div>
                                    </article>
                                    <article class="card">
                                        <img src="https://watsondemo.files.wordpress.com/2012/11/retina-09.jpg?w=115&h=75&crop=1" alt="Sample photo">
                                        <div class="text">
                                            <h3>Dynamically Procrastinate</h3>
                    
                    
                                        </div>
                                    </article>
                                    <article class="card">
                                        <img src="https://watsondemo.files.wordpress.com/2012/11/retina-10.jpg?w=115&h=75&crop=1" alt="Sample photo">
                                        <div class="text">
                                            <h3>Dynamically Procrastinate</h3>
                    
                    
                                        </div>
                                    </article>
                    
                                    <article class="card">
                                        <img src="https://watsondemo.files.wordpress.com/2012/11/retina-11.jpg?w=115&h=75&crop=1" alt="Sample photo">
                                        <div class="text">
                                            <h3>Dynamically Procrastinate</h3>
                    
                    
                                        </div>
                                    </article>
                                </div>
            <article>
                <div class="media">
                    <img class="media-object" src="https://watsondemo.files.wordpress.com/2012/11/retina-071.jpg?w=205&h=145&crop=1" alt="4">
                    <div class="media-body">
                        <h3 class="media-heading">Organically Synthesized</h3>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches
                            to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                        <ul class="media-crumb">
                            <li>October14,2012</li>
                            <li>0 Comments</li>
                            <li class="red">Read Article</li>
                        </ul>
                    </div>
            </article>
            <article>
                <div class="media">
                    <img class="media-object" src="https://watsondemo.files.wordpress.com/2012/11/retina-12.jpg?w=205&h=145&crop=1" alt="5">
                    <div class="media-body">
                        <h3 class="media-heading">Organically Synthesized</h3>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches
                            to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                        <ul class="media-crumb">
                            <li>October14,2012</li>
                            <li>0 Comments</li>
                            <li class="red">Read Article</li>
                        </ul>
                    </div>
            </article>
            <article>
                <div class="media">
                    <img class="media-object" src="https://watsondemo.files.wordpress.com/2012/11/retina-172.jpg?w=205&h=145&crop=1" alt="5">
                    <div class="media-body">
                        <h3 class="media-heading">Organically Synthesized</h3>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches
                            to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                        <ul class="media-crumb">
                            <li>October14,2012</li>
                            <li>0 Comments</li>
                            <li class="red">Read Article</li>
                        </ul>
                    </div>
            </article>
            <article>
                <div class="media-7">
                    <img class="media-object" src="https://watsondemo.files.wordpress.com/2012/11/retina-18.jpg?w=205&h=145&crop=1" alt="5">
                    
                    <div class="media-body">
                        <h3 class="media-heading">Organically Synthesized</h3>
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches
                            to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                        <ul class="media-crumb">
                            <li>October14,2012</li>
                            <li>0 Comments</li>
                            <li class="red">Read Article</li>
                        </ul>
                        
                    </div>
                   
                </div>
                <div class="bck-7">
                <button class="block7-button">
                    <i class="fa fa-long-arrow-left" aria-hidden="true" style="color:white; margin-right:4px;"></i>
                    Older posts
                </button>
            </div>       
            </article>
            <article>
                    <div class=" small-media">
                        
                        <div class="media-body">
                                <h3>FROM THE EDITOR</h3>
                                <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone.
                                    How it's possible, how it's done, what the dangers are. But then why fifty years in the future when
                                    the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't
                                    they know? If they don't know, that means we never told anyone. And if we never told anyone it means
                                    we never made it back. Hence we die down here. Just as a matter of deductive logic again.</p>
                                </p>
                                <h3>TAGS</h3>
                                <div class="tags-button">
                                    <button>
                                        <span>Arts</span>
                                    </button>
                                    <button>
                                        <span>Environment</span>
                                     </button>
                                    <button>
                                        <span>Local</span>
                                    </button>
                                    <button>
                                        <span>News</span>
                                    </button>
                                    <button>
                                        <span>Politics</span>
                                    </button>
                                    <button>
                                         <span>Polls</span>
                                    </button>
                                    <button>
                                        <span>Weather</span>
                                    </button>
                                </div>
                                <div class="search">
                                    <input type="text" placeholder="Search site...">
                                </div>
                                <div class="side-list">
                                        <h4>ARCHIVES</h4>
                                        <ul>
                                            <li>October2012(2)</li>
                                            <li>September2012(2)</li>
                                            <li>August2012(8)</li>
                                            <li>July2012(3)</li>
                                            <li>June2012(1)</li>
                        
                                        </ul>
                                        <h4>CATEGORIES</h4>
                                        <ul>
                                            <li>Business(4)</li>
                                            <li>Education(4)</li>
                                            <li>Events(1)</li>
                                            <li>Food(4)</li>
                                            <li>Lifestyle(5)</li>
                                            <li>Sport(4)</li>
                                            <li>Travel(3)</li>
                                            <li>Uncategorized(7)</li>
                        
                                        </ul>
                        
                                    </div>
                           
                        </div>
                </article>

           
        </section>

        <section class="column">
            <article class="side-bar">

                <div class="article-body">
                    <h3>FROM THE EDITOR</h3>
                    <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone.
                        How it's possible, how it's done, what the dangers are. But then why fifty years in the future when
                        the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't
                        they know? If they don't know, that means we never told anyone. And if we never told anyone it means
                        we never made it back. Hence we die down here. Just as a matter of deductive logic again.</p>
                    </p>
                    <h3>TAGS</h3>
                    <div class="tags-button">
                        <button>
                            <span>Arts</span>
                        </button>
                        <button>
                            <span>Environment</span>
                         </button>
                        <button>
                            <span>Local</span>
                        </button>
                        <button>
                            <span>News</span>
                        </button>
                        <button>
                            <span>Politics</span>
                        </button>
                        <button>
                             <span>Polls</span>
                        </button>
                        <button>
                            <span>Weather</span>
                        </button>
                    </div>
                    <div class="search">
                        <input type="text" placeholder="Search site...">
                    </div>
                    <div class="side-list">
                            <h4>ARCHIVES</h4>
                            <ul>
                                <li>October2012(2)</li>
                                <li>September2012(2)</li>
                                <li>August2012(8)</li>
                                <li>July2012(3)</li>
                                <li>June2012(1)</li>
            
                            </ul>
                            <h4>CATEGORIES</h4>
                            <ul>
                                <li>Business(4)</li>
                                <li>Education(4)</li>
                                <li>Events(1)</li>
                                <li>Food(4)</li>
                                <li>Lifestyle(5)</li>
                                <li>Sport(4)</li>
                                <li>Travel(3)</li>
                                <li>Uncategorized(7)</li>
            
                            </ul>
            
                        </div>
                </div>
            </article>
       </section>
      
            
            
    </main>
    <section class="bottom">
            <div class="row">
                    <div class="row_cell--2">
                        <h3>EXAMPLE FOOTER</h3>
                        <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible,
                            how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black
                            hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never
                            told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of
                            deductive logic again.</p>
                    </div>
                    
                    
                    <div class="row_cell">
                        <h3>SPONCERS</h3>
                        <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing
                            has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text
                            but decided to leave for world grammar.</p>
                     </div>
             </div>

    </section>
    <section class="bottom2">
            <div class="row2">
                    <div class="row2_cell--2">
                        <h3>EXAMPLE FOOTER</h3>
                        <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible,
                            how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black
                            hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never
                            told anyone. And if we never told anyone it means we never made it back. Hence we die down here. Just as a matter of
                            deductive logic again.</p>
                    </div>
                    
                    
                    <div class="row2_cell">
                        <h3>SPONCERS</h3>
                        <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing
                            has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text
                            but decided to leave for world grammar.</p>
                     </div>
             </div>

    </section>
 <footer class="footer">
            <div class="container">
    
                <ul class="contact-icons">
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li><i class="fa fa-google" aria-hidden="true"></i></li>
                    <li><i class="fa fa-flickr" aria-hidden="true"></i></li>
                    <li><i class="fa fa-rss" aria-hidden="true"></i></li>			
                </ul>
    
                <p class="footer-content">Watsom theme by The Theme Foundry</p>
            </div>
</footer>
</div>
</body>

</html>